<h1>Danh sách hoạt động của clb</h1>
<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to "#{event.title} | #{event.place} | #{event.open_date} #{event.start_time.strftime('%H:%M')} ~ #{event.end_time.strftime('%H:%M')}", event %>
    </li>
  <% end %>
</ul>
