.event-item {
  .card-subtitle {
    i {
      margin-right: 0.3rem;
      font-size: 0.9rem;
    }
  }
}
.action-btn {
  float: right;
  .btn {
    text-decoration: none;
    &-edit {
      color: #fdb30d;
    }
    &-destroy {
      color: #ff4242;
    }
  }
}
